.isSubs {
  background: green;
  padding: 5px 10px;
  border-radius: 30px;
  text-align: center;
  width: 100px;
  display: inline-block;
  color: #fff;
}

.actionSubs {
  transition: all 0.5s;
  &:hover {
    color: red;
    transition: all 0.5s;
    cursor: pointer;
  }
}
